apiVersion: 1

datasources:
  - name: Home Sensor InfluxDB
    uid: home-sensor-influxdb
    type: influxdb
    access: proxy
    url: "__INFLUXDB_URL__"
    isDefault: true
    editable: false
    jsonData:
      version: Flux
      organization: "__INFLUXDB_ORG__"
      defaultBucket: "__INFLUXDB_BUCKET__"
      tlsSkipVerify: false
    secureJsonData:
      token: "__INFLUXDB_READ_TOKEN__"
